@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Bangers|Bungee|Carter+One|Gloria+Hallelujah|Julius+Sans+One|Kaushan+Script|Lobster|Luckiest+Guy|Michroma|Rock+Salt|Special+Elite&display=swap');

  /* font-family: 'Anton', sans-serif; */
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-family: 'Luckiest Guy', cursive; */
  /* font-family: 'Bangers', cursive; */
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Carter One', cursive; */
  /* font-family: 'Rock Salt', cursive; */

.header {
  text-align: center;
}


#video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.homeButtons {
  float: right;
  padding-right: 3vw;
}

/* Poster CSS */
.posters {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 60vh;
  text-align: center;
  margin-left: 7vw;
}

.posterImg {
  width: 12vw;
  height: auto;
  display: inline-block;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

.poster-glow {
  animation: glowing 5000ms infinite;
}

/* popular & most rated rows */
.homeRow {
  position: absolute;
  width: 100%;
  padding: 20px 0 20px 0;
}

.rowContainer {
  display: inline-block;
}

.Poster {
  display: inline-block;
  padding: 0 20px 0 20px;
}

.PopularContainer {
  text-align: center;
  top: 105vh;
}

.TopRatedContainer {
  text-align: center;
  top: 160vh;
}

.rowTitle {
  color: #FFDC00;
  font-size: 35px;
  font-family: 'Bungee', cursive;
}