#profileCon {
  margin: 5vh 0 0 3vw;
}

/* user container */
.UserContainer {
  text-align: center;
}

.profileImg {
  height: 20vw;
  width: 20vw;
}

.username {
  font-family: 'Bungee', cursive;
  margin-top: 2vh;
  font-size: 1.7vw;
  font-weight: bold;
}

.info {
  color: #FFDC00;
  font-size: 1.3vw;
  font-weight: bold;
  display: inline;
  float: left;
  margin: 0 0 0 2vw;
}

.infoContent {
  color: white;
  margin-left: 0.5vw;
}

#bio {
  margin-top: 2vh;
  text-align: left;
  color:#d060fc;
}

/* my movies container */
.myMoviesTitle {
  font-family: 'Bungee', cursive;
  font-size: 2vw;
  margin-bottom: 2vh;
}

.MyMoviesContainer {
  text-align: center;
}

/* my comments */
.myCommentsTitle {
  font-family: 'Bungee', cursive;
  font-size: 2vw;
  margin: 0 0 2vh 2vw;
}

.commentMovieTitle {
  display: inline;
  color: #FFDC00;
  font-weight: bold;
}

.commentContent {
  display: inline;
  color: white;
  font-weight: normal;
  margin-left: 1vw;
}