/* show container */
.ShowContainer {
  width: 100%;
  height: 100vh;
  margin-top: 4vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.showTitle {
  padding: 35vh 0 0 10vw;
  font-size: 3vw;
  text-shadow: 3px 4px 3px black;
}

.showOverview {
  padding: 3vh 0 0 10vw;
  width: 38vw;
  font-size: 1.5vw;
  text-shadow: 3px 4px 3px black;
}

#saveButton {
  margin: 3vh 0 0 10vw;
  font-size: 1vw;
}

/* details container */
.DetailsContainer {
  margin: 5vh 10vh 0 10vh !important;
}

.showPagePoster {
  width: 25vw;
}

.movieDetails {
  margin-top: 5vh;
  font-size: 1.5vw;
  font-weight: bold;
  color: #FFDC00;
}

.detailTitle {
  font-size: 2.5vw;
}

.detailSpan {
  color: white;
  font-weight: normal;
}

/* comments */
.comments {
  margin-top: 8vh;
  font-size: 1.5vw;
}

.formLabel {
  margin: 0;
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 1vh;
}

.commentFormCon {
  width: 20vw;
  font-size: 1.3vw;
  text-align: center;
}

/* comment */
.Comment {
  border-style: solid;
  border-color: #FFDC00;
  border-width: 2px;
  margin-top: 2vh;
  padding:1vh;
  width: 20vw;
  font-size: 1.1vw;
  border-radius: 15px;
}

.comDeleteButton {
  float: right;
}